<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diabefriend">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".model.NotificationChannels"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.BottomNavigationActivity"
            android:label="@string/application_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.InformationActivity"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.SummaryActivity"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name=".model.Alarm" />

        <activity
            android:name=".activities.StartActivity"
            android:label="@string/title_activity_start"
            android:parentActivityName=".activities.BottomNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diabefriend.activities.BottomNavigationActivity" />
        </activity>
    </application>

</manifest>