<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.diabefriend">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".notification.NotificationChannels"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/application_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.summary.SummaryActivity"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".alarm.Alarm" />

        <activity
            android:name=".ui.add_measurement.AddMeasurementActivity"
            android:label="@string/title_activity_start"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diabefriend.MainActivity" />
        </activity>
    </application>

</manifest>